h1{
    font-family: arial,sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    background-color: #beddfe;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header{
    display: flex;
    justify-content: right;
    font-size: small;
    font-family: arial,sans-serif;
}
.login{
    margin: 5px;
}
.details{
    margin: 5px;
}
a{
    text-decoration: none;
    color: black;
}
input{
    background-color: #f8f9fa;
    border: 1px solid black;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.highlight{
    background-color: #f8f9fa;
   
    border: 1px solid black;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 5px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 200px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
.highlight2{
    background-color: #3387da;
   
    border: 1px solid black;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 5px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 200px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
#myBtn{
    background-color: #f8f9fa;
   
    border: 1px solid black;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 5px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 200px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
li{
    text-decoration: none;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul{
    margin-left: 0px;
    padding-left: 0px;

}