h1{
    font-family: arial,sans-serif;
}
html{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background-color: #beddfe;
    margin: 0px;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header{
    display: flex;
    justify-content: right;
    font-size: small;
    font-family: arial,sans-serif;
    height: 20px;
}
.footer{
    min-height: 200px;
    border: #3c4043 thin;
    display: flex;
    padding: 15px;
    justify-content: space-around;

}
.dragBox{
    border-radius: 30px;
    min-width: 200px;
    border: #3c4043 solid 3px;
    margin: 1px;
    background-color: rgb(242, 255, 251);
    padding: 5px;
    transition: all .2s ease-in-out;
}
.login{
    margin: 5px;
}
.details{
    margin: 5px;
}
a{
    text-decoration: none;
    color: black;
}
input{
    background-color: #f8f9fa;
    border: 1px solid black;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.highlight{
    background-color: #f8f9fa;
   
    border: 1px solid black;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 5px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    /* min-width: 200px; */
    text-align: center;
    cursor: pointer;
    user-select: none;
}
.highlight2{
    background-color: #ff6565;
   
    border: 1px solid black;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 5px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;

    text-align: center;
    cursor: pointer;
    user-select: none;
}

li{
    text-decoration: none;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul{
    margin-left: 0px;
    padding-left: 0px;

}
.dragging{
    opacity: .5;

}
.receiveDrag{
    background-color: rgb(255, 200, 255);
    transform: scale(1.1); 
}